<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include("header") %>

    <h2>product</h2>
    <ul>
        <% if(product.length === 0 ) { %>
            <p>product data is empty</p>
        <%} else {%>
            <% product.forEach((item) => { %>
                <div>
                    <li><a href = "/detailproduct/<%= item.id %>">Product : <%= item.name %></a></li>
                    <!-- <li>price:<%= item.price %></li> -->
                </div>
            <% }) %>
        <% } %>
    </ul>

    <%- include("footer") %>

    <script>
        function redirectDetailProduct(id){
            console.log(id);
            window.location.href = "/detailproduct/" + id
        }
    </script>

</body>
</html>