<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include("header") %>
    <h2>Transaction</h2>
    <ul>
        <% if (transaction.length === 0) { %>
            <p>data product not found</p>
        <% } else { %>
            <% transaction.forEach ((item)  => { %>
                <li>customer name : <%= item.name %></li>
                <li>product :  <%= item.product %></li>
                <li>price : <%= item.price %></li>
                <li>quantity : <%= item.qty %></li>
                <li>Total : <%= item.total %></li>
                <hr/>
            <% }) %>
        <% } %>
    </ul>

    <%- include('footer') %>

</body>
</html>